#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=IBM File Agent
Comment=IBM File Agent
Exec={{ file_agent_install_dir }}/cdfa
Terminal=false
StartupNotify=false
Categories=Utility;
